<div class="grid">
  <!-- width of .grid-sizer used for columnWidth -->
  <div class="grid-sizer"></div>
  <div class="gutter-sizer"></div>
  <div class="grid-item">
    <img src="{% process_asset assets/pictures/hest1.jpg %}" />
  </div>
  <div class="grid-item">
    <img src="{% process_asset assets/pictures/hest2.jpg %}" />
  </div>
  <div class="grid-item">
    <img src="{% process_asset assets/pictures/pasc1.jpg %}" />
  </div>
  <div class="grid-item">
    <img src="{% process_asset assets/pictures/reeds.jpg %}" />
  </div>
  <div class="grid-item">
    <img src="{% process_asset assets/pictures/hestfield.jpg %}" />
  </div>
</div>
