body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

nav {
  margin: 2rem;
  margin-top: 0;
  margin-bottom: 0;
}

main {
  margin: 2rem;
  margin-top: 0;
}

h1 {
  text-align: center;
  color: gray;
}

.grid-item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

/* fluid 5 columns */
.grid-sizer,
.grid-item {
  width: 32.666%;
  margin-bottom: 10px;
}
.gutter-sizer { width: 1%; }
